@import "tailwindcss";

/* Import Flowbite (jika diminta di PDF) */
@plugin "flowbite/plugin";

/* Beritahu Tailwind dimana file blade kamu berada (Source detection) */
@source "../views"; 
@source "../views/**/*.blade.php";
@source "../../node_modules/flowbite"; 

/* Jika di PDF halaman 12 ada konfigurasi theme, masukkan disini */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}